<div>
    <div class="contact__infomation">
        <!-- <i class="uil uil-phone contact__icon"></i> -->

        <div>
            <h3 class="contact__title">Call me</h3>
            <span class="contact__subtitle">+91 9043097970</span>
        </div>

    </div>

    <div class="contact__infomation">
        <!-- <i class="uil uil-envelope contact__icon"></i> -->

        <div>
            <h3 class="contact__title">Email</h3>
            <span class="contact__subtitle">sgrkranjithkumar@gmail.com</span>
        </div>

    </div>

    <div class="contact__infomation">
        <!-- <i class="uil uil-map-marker contact__icon"></i> -->

        <div>
            <h3 class="contact__title">Location</h3>
            <span class="contact__subtitle">Madurai - India</span>
        </div>

    </div>

    <div class="contact__infomation">
        <!-- <i class="uil uil-map-marker contact__icon"></i> -->

        <div>
            <h3 class="contact__title">Portfolio</h3>
            <a href="https://ranjithkumar.web.app/" target="_blank"><span class="contact__subtitle">ranjithkumar.web.app</span></a>
        </div>

    </div>
</div>